@import "utilities";
@import "footer";
@import "navbar";
@import "application";
// @import "cards_main";


#mapindex {
  width:83%;
  height:400px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) and (min-width: 200px) {
    #mapindex {
        width:100%;

    }
}


// @media screen and (max-width: 1680px) and (min-width: 1024px) {
//     #mapindex {
//         width:100%;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }
